<div id="<%= dom_id postulation %>">
  <p>
    <strong>Title:</strong>
    <%= postulation.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= postulation.description %>
  </p>

  <p>
    <strong>Daypostulation:</strong>
    <%= postulation.daypostulation %>
  </p>

</div>
